
tr:nth-of-type(odd) {
    background-color: #f2ebe3
}
table{
    border-collapse: collapse;
}
#error_message{
    color: red;
    font-weight:bold;
}
#loginstyle{
padding-left: 35%;
}

@media only screen and (min-width: 1000px){
    ul{
        position:relative;
        margin:auto;
        text-align:center;
        font-size:0.9em;
        color: #000000;
        border:3px;
        border-bottom:0;
        border-right:0;
        border-style:inset;
        border-color: #fdfefc;
        padding-bottom:17px;
        font-weight:bold;
    }
    li{
        width:20%;
        display:inline-block;
    }

    header{
        position:relative;
        display:inline-block


    }


    body{
        background-color:white;
        width: 900px;
        margin: 0 auto;
    }
    fieldset{
        width: 700px;
    }

}


@media  only screen and (max-width: 1000px) {
    ul{
        position:relative;
        margin:auto;
        text-align:center;
        font-size:1em;
        color: #000000;
        border:3px;
        border-bottom:0;
        border-right:0;
        border-style:inset;
        border-color: #fdfefc;
        font-weight:bold;
        padding-bottom:17px;
    }
    li{
        width:20%;
        display:inline-block;
    }

    body {
        background-color: white;
        width: 700px;
        margin: 0 auto;
    }
    fieldset {
        width: 500px;
    }

}